*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 0px auto; */
    width: 100%;
    height: 100vh;

}
.heading{
    text-shadow: 2px 5px 5px #000000;
    font-size: 60px;
    margin: 10px 0px;
    color:#4120a9;
    font-weight: 900;
}
.box{
    display: flex;
    justify-content: space-around;
    background-color: rgb(114, 221, 114);
    width: 60%;

    border-radius: 10px;
    margin: 0px 10px;
    position: relative;
    

}
.typeinput{

}
.feetbox{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.inchbox{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.feettext{
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 252, 252);
    text-shadow: 2px 5px 9px #000000;
    margin: 15px;
}
.inchtext{
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 252, 252);
    text-shadow: 2px 5px 9px #000000;
    margin: 15px;
}
.feetinput{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 15px 5px;
}
.inchinput{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 15px 5px;
}

@media (min-width: 375px) and (max-width: 667px){
    .box{
        width: 98%;
        justify-content: space-around
    }
    .feetinput{
        font-size: 20px;
        margin: 15px 2px;
    }
    .inchinput{
        font-size: 20px;
        margin: 15px 2px;
    }
    .heading{
        font-size: 30px;
    }
    .inchtext{
        font-size: 24px;
       
    }
    .feettext{
        font-size: 24px;
        
    }
   
}
